*{
    margin: 0%;
    padding: 0%;
}


header{
    background-color:black
}


.home{
    display: flex;
    justify-content: center;
    gap: 20px;
    color: w;

  
}
   


.logo{
    display: flex;
    flex-direction: row;
    color: white;
    
}

h1{
    display: flex;
    justify-content: center;
}

main{
    justify-content: center;
    border: 50px;
    
}


    



#foto{
    width:500px;
    height: 500px;
    display: flex;
    justify-content: center;

   
}
  
@media screen and (max-width : 860px){
    main{
        width: 80%;
    }
}
section{
    display: flex;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: center;
}

#rodape{
    display: flex;
    align-items: flex-end;
    color: white;
    justify-content: center;
}

footer{
    padding: 10px;
    background-color: black;
}

#topicos{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}






   




