*{
    margin: 0%;
    padding: 0%;
}

header{

    width: 100%;
    padding: 10px 0px;
    background-color: white;
    display: flex;
    justify-content: center;
     align-items: center;
     border: radius 100px; 

}

header img{
    height: 400px;
    width: auto;
    display:flex;
    justify-content: center;

  
}




   




